<section>
    <footer>
        <div class="w-full bg-black text-sm text-white p-10 mt-20 rounded-t-4xl" >
            <div class="grid grid-cols-4" >
                <ul class="" >
                    <img src="static/icons/Tastify 32.svg" alt="logo">

                </ul>
                <ul class="flex flex-col gap-2" >
                    <h1>Quick Link</h1>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="flex flex-col gap-2" >
                    <h1>Follow us on</h1>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
                <ul class="flex flex-col gap-2" >
                    <h1>Legal Information</h1>
                    <li><a href="#">Blog & Insights</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & COndition</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>